header.container__header
    .header__logo Сайт-визитка
    nav.header__menu
        ul
            li.menu__item
                a(href="index.html") Главная
            li.menu__item
                a(href="about.html") О себе
            li.menu__item
                a(href="contacts.html") Контакты    