//- Главный макет
block variables

doctype html
html(lang="ru")
    head 
        meta(charset='UTF-8')
        title #{title}
        link(rel="stylesheet", href="css/style.css")
    body
        .container
            include ./header.pug
            main.container__content
                block content
            include ./footer.pug
        script(src="js/app.js") 